*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.hero{
    
    background: linear-gradient(to top,#5CDB95, #EDF5E1);
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

nav{
    background: #EDF5E1;
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

.myName {
    text-align: left;
    position: absolute;
    left: 175px;
    top: 100px;
    color: #05386B;
    font-weight: bold;
    font-size: 50px;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #05386B;
}

.frontPageMe {
    position: absolute;
    top: 175px;
    left: 100px;
    width: 25%;
}

.resize {
    width: 400px;
    height: auto;
}

.body {
    text-align: right;
    position: absolute;
    top: 110px;
    right: 45px;
    color: #05386B;
}
