*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #1E1E2C, #2D2D44);
    color: white;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}


nav{
    background: #edf5e100;
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #33E1ED;
}

.projects {
    flex: 1;
    text-align: center;
    margin-top: 175px;
}

.projects li {
    display: inline-block;
    list-style: none;
    margin: 50px 95px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #33E1ED;
    vertical-align: top;
}

.project-title {
    font-size: 20px;
    color: #33E1ED;
}

.project-description {
    font-size: 16px;
    color: #CF7793 !important;
    margin-top: 10px !important;
    max-width: 200px !important;
    text-align: center !important;
    word-wrap: break-word !important; 
}

.frontPageMe {
    position: absolute;
    top: 175px;
    left: 100px;
    width: 25%;
}
.me-description {
    position: absolute;
    color: #CF7793;
    top: 175px; 
    right: 100px;
    width: 30%; 
    text-align: left; 
    line-height: 1.5; 
}

.resize {
    width: 400px;
    height: auto;
    border-radius: 32px 64px;
}

.text-body {
    text-align: center;
    position: absolute;
    top: 10px;
    color: #33E1ED;
    margin: 175px;
    margin-left: 450px;
    font-size: 18px;
}
.contact-body {
    text-align: left;
    position: absolute;
    top: 10px;
    color: #33E1ED;
    margin: 175px;
    margin-left: 600px;
}

.header {
    text-align: left;
    position: absolute;
    font-size: 20px;
    top: 150px;
    color: #33E1ED;
    margin-left: 600px;
    font-weight: bold;
}

.lmdmButton {
    background-color: #F7F0F0;
    width: 50px;
    height: 20px;
    border-radius: 20px;
}


.light-mode {
    background: linear-gradient(to top, #F7F0F0, #FFFFFF);
    color: white;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

.light-mode nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #FA5F1A;
}

.light-mode .projects li {
    display: inline-block;
    list-style: none;
    margin: 225px 95px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #FA5F1A;
}

.light-mode .lmdmButton {
    background-color: #2D2D44;
    width: 50px;
    height: 20px;
    border-radius: 20px;
}

.light-mode .header {
    text-align: left;
    position: absolute;
    font-size: 20px;
    top: 150px;
    color: #FA5F1A;
    margin-left: 600px;
    font-weight: bold;
}
.light-mode .text-body {
    text-align: center;
    position: absolute;
    top: 10px;
    color: #FA5F1A;
    margin: 175px;
    margin-left: 450px;
    font-size: 18px;
}
.light-mode .contact-body {
    text-align: left;
    position: absolute;
    top: 10px;
    color: #FA5F1A;
    margin: 175px;
    margin-left: 600px;
}

