*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #1E1E2C, #2D2D44);
    color: white;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

.light-mode {
    background: linear-gradient(to top, #F7F0F0, #FFFFFF);
    color: white;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

nav{
    background: #edf5e100;
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

.myName {
    text-align: left;
    position: absolute;
    left: 175px;
    top: 100px;
    color: #33E1ED;
    font-weight: bold;
    font-size: 50px;
}

.light-mode .myName {
    text-align: left;
    position: absolute;
    left: 175px;
    top: 100px;
    color: #FA5F1A;
    font-weight: bold;
    font-size: 50px;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #33E1ED;
}

.light-mode nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #FA5F1A;
}

.frontPageMe {
    position: absolute;
    top: 175px;
    left: 100px;
    width: 25%;
}

.resize {
    width: 400px;
    height: auto;
}

.text-body {
    text-align: right;
    position: absolute;
    top: 120px;
    right: 45px;
    color: #33E1ED;
}

.light-mode .text-body {
    text-align: right;
    position: absolute;
    top: 120px;
    right: 45px;
    color: #FA5F1A;
}
